.features {

  &__list{
    @include tablet {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  @include desktop {
    flex-wrap: nowrap;
  }
  }
  }

  

    &__item {
        @include mobile-max {
        margin-bottom: 30px;
        }
        @include tablet {
            margin: 15px;
            width: 100%;
            max-width: 354px;
        }
        
    }
    &__item:last-child {
        @include mobile-max {
            margin-bottom: 0px;
            }
        
    }

    &__title {
        margin-bottom: 10px;
        color:var(--primary-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        @include mobile-max {
            text-align: center;
        }
        
    }
    &__text {
        
        color: #757575;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    &__card {
        display: flex;
        justify-content: center;
        background: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
        width: 100%;
        max-width: 450px;
        padding-top: 25px;
        padding-bottom: 25px;

         @include tablet {
            max-width: 354px; 
         }
         @include desktop {
            max-width: 270px;
         }

    }
  
}



